body {
	padding-top: 30px;
}

a {
	font-size: 24px;
}

.link:hover {
	color: red;
}

.link {
	margin-left: 10px;
	text-decoration: none;
}

.button {
	background-color: white;
	color: black;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	border: 2px solid #4CAF50;
	cursor: pointer;
}

.button:hover {
	background-color: #4CAF50;
	color: white;
}

.button1 {
	background-color: #F44336;
	color: white;
	text-align: center;
	padding: 10px 20px;
	margin-left: 10px;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.8;
}

.button1:hover {
	opacity: 1;
}
